#content .profile-info-options {

  > ul > li a.button {
    width: 170px;
  }

  #circles-container {
    padding-top: 10px;
    background: #fcfcfc;
    box-shadow: 0 3px 5px 1px #d2d2d2;

    #follow-circles-form {
      #circles-list {
        text-align: center;

        #circles-checkboxes {
          margin-top: 10px;
          margin-left: 10px;
        }

        #new-circle {
          text-align: left;
        }

        #new-circle-form .button-bar {
          text-align: center;
          margin-bottom: 0px;

          a {
            text-align: right;
            width: 42%;
            float: none;
            margin: 3px 0 3px;
          }
        }
      }

      #circle-actions {
        text-align: center;
        margin-top: 0px;
        a {
         text-align: left;
        }
        input {
          height: 22px;
          width: 48%;
          margin: 3px 0 3px;
        }
      }
    }
  }
}

#profile-header-fga #profile-header-actions #profile-menu-dropdown > img {
  width: 50px;
}

.common-profile-list-block img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 3px 2px 0 #D2D2D2;
}
